*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: white;
}

#tooltip
{
	width: 220px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: 1px black solid;
	background: red;
}